* {
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: MiFuente;
    src: url(/proyecto/assets/fonts/ZenDots-Regular.ttf) format('woff');
    font-weight: normal;
    font-size: normal;
}

body {
    font-family: 'MiFuente', sans-serif;
}

:root {
    --color-principal:#0b4d87;
    --color-secundario:#dbe7ff;
    --color-fuente: black;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secundario);
}

#navbar a{
        color: var(--color-fuente);
        text-decoration: none;
}

#logo_navbar {
    width: 180px;
    height: auto;
    padding: 5px 15px;
}

#pages {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 550px;
    margin: 20px 0;
}

#pages li {
    padding: 5px 15px;
    border-radius: 15%;
    font-size: 17px;
}

#pages li:hover {
    background-color: #c5d0e6;
}

#mode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
}

#mode {
    width: 20px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
}

#mode:hover {
    background-color: #c5d0e6;
}

main {
    text-align: center;
    background-image: url(/proyecto/assets/imagenes/background.png);
    background-size: cover;
}

footer {
    background-color: var(--color-secundario);
}


#complejo {
    height: 250px;
}


#carrusel {
    height: auto;
    display: flex;
    justify-content: space-around;
}

#carrusel img{
    border-radius: 5px;
}

#preguntas {
    height: auto;
    width: 75%;
    margin: 0 auto;
}

.pregunta {
    margin: 30px;
    padding: 20px;
    background-color: var(--color-secundario);
    border-radius: 10px;
}

.resp {
    display: none;
    padding-top: 20px;
}

.activo .resp {
    display: block;
}

#contacto {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

#ubi_texto {
    height: auto;
    width: 45%;
    text-align: left;
    padding: 10px 25px;
    font-size: 25px;
    background-color: var(--color-secundario);
    border-radius: 10px;
    border: solid;
}

#ubi_texto p {
    padding: 20px;
}

#ubi_texto div {
    display: flex;
    justify-content: left;
    margin: 0 auto;
}

#mapa {
    padding: 0 20px;
}

#nosotros {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

#texto_nosotros{
    display: grid;
    width: 50%;
    background-color: var(--color-secundario);
    border-radius: 10px;
    padding: 40px;
    border-color: #333;
    border-width: 2px;
    border-style: solid;
    line-height: 1.5;

}

#texto_nosotros p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #333;            
}

#fotocancha{
    height: auto;
    width: 650px;
    border-width: 2px;
    border-color: #333;
    border-radius: 10px;
    border-style: solid;
}

#presentacion {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#presentacion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/imagenes/canchafondo.webp);
    background-size: cover;
    background-position: center; 
    filter: blur(3px); 
    transform: scale(1.1);
    z-index: 1;
}

#logo_presentacion {
    position: relative;
    z-index: 2; 
    width: 450px;    
}

#diseñocomplejo {
    width: 100%;        
    max-width: 700px;  
    margin: 50px auto;    
}

#img-diseño {
    width: 100%;       
    height: auto;       
    display: block;     
}

.contenedor-mapa {
    position: relative; 
    display: inline-block;
    border: 3px solid var(--color-secundario);
    border-radius: 5px;
}

.punto {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--color-principal); 
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid;
    border-color: #333;
}

.texto-punto {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
}


.punto:hover .texto-punto {
    visibility: visible;
    opacity: 1;
}

#titulo-imgcomplejo{
    text-align: center;
    margin-bottom: 35px;
    letter-spacing: 1px;
    color: var(--color-secundario);
    transform: scale(1.7);
}

#footer{
    background-color: var(--color-secundario);
    color: black;
    padding: 50px 10% 20px 10%;
}

#cont_footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin: 0 auto;
    max-width: 1500px;
}

.col_footer{
    flex: 1;
    min-width: 200px;
}

#img_footer{
    max-width: 300px;
    height: auto;
}

.col_footer h3{
    color: var(--color-principal);
    letter-spacing: 2px;
}

.col_footer p:hover{
    color: var(--color-principal);
}