* {
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: MiFuente;
    src: url(/proyecto/assets/fonts/ZenDots-Regular.ttf) format('woff');
    font-weight: normal;
    font-size: normal;
}

body {
    font-family: 'MiFuente', sans-serif;
}

:root {
    --color-principal:#0b4d87;
    --color-secundario:#dbe7ff;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secundario);
}

#logo_navbar {
   width: 180px;
   height: auto;
   padding: 5px 15px;
}

#pages {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 550px;
    margin: 20px 0;
}

#pages li {
    padding: 5px 15px;
    border-radius: 15%;
    font-size: 17px;
}

#pages li:hover {
    background-color: #c5d0e6;
}

#mode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
}

#mode {
    width: 20px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
}

#mode:hover {
    background-color: #c5d0e6;
}

main {
    text-align: center;
    background-color: var(--color-principal);
}

footer {
    background-color: var(--color-secundario);
}

#presentacion {
    height: 500px;
}

#complejo {
    height: 250px;
}

#nosotros {
    height: 200px;
}

#carrusel {
    height: 300px;
}

#preguntas {
    height: 300px;
}

#contacto {
    height: 200px;
}